<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.Material" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.Modern" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources.Standalone" version="0.1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="YamlDotNet" version="4.2.1" targetFramework="net46" />
</packages>